body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: Arial, sans-serif;
  background-image: url("meeting.jpg");
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
}
.login_form {
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 2px 4px black;
  width: 500px;
  height: 300px;
}

.use {
  margin-bottom: 5px;
  font-weight: bold;
}
.use input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
}
.pass {
  margin-bottom: 5px;
  font-weight: bold;
}
.pass input {
  display: flex;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
}

.login_form input:focus {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 8px 0 black;
}
.log {
  margin-top: 8%;
  margin-left: 88%;
  width: 60px;
  height: 40px;
  background: darkcyan;
}

.log:hover {
  background-color: cyan;
}
