{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css'%}" />
    <title>home page</title>
  </head>
  <body>
    <div class="room">
      <h1>Welcome to the Room Dundo</h1>
      <div class="bi">
        <a class="button" href="{%url 'myapp:regis' %}">Register</a>
        <a class="button" href="{%url 'myapp:login' %}">Log in</a>
      </div>
    </div>
  </body>
</html>
