{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css'%}" />
    <title>home page</title>
  </head>
  <body>
    <div class="box">
      <h1>Welcome to the Seminar hall</h1>

      <button>
        <a class="button" href="{%url 'myapp:register' %}">Register</a>
      </button>
      <button>
        <a class="button" href="{%url 'myapp:login' %}">Log in</a>
      </button>
    </div>
  </body>
</html>
