{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'interface.css'%}" />
  </head>
  <body>
    {% csrf_token %}
    <header id="main">
      <img class="im" src="{%static 'aiktc.jpg'%}" alt="Logo" />
      <div id="clgname">
        <span>ANJUMAN I-KALSEKAR TECHNICAL CAMPUS</span>
      </div>
      <div id="meeting">Meeting Management Software</div>
      <br />
      <div>
        <button id="tsheet" type="button">Timesheet</button>
        <button id="tsheet" type="button">Book Meeting</button>
      </div>
    </header>
    <div id="content">
      <table class="styled-table">
        <thead>
          <tr>
            <th></th>
            <th>09.15-10.15</th>
            <th>10.15-11.15</th>
            <th>11.15-12.15</th>
            <th>12.15-01.15</th>
            <th>02.15-03.15</th>
            <th>03.15-04.15</th>
            <th>04.15-05.15</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer></footer>
  </body>
</html>
