{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'interface.css'%}" />
  </head>
  <body>
    {% csrf_token %}
    <header id="main">
      <img class="im" src="{%static 'aiktc.jpg'%}" alt="Logo" />
      <div id="clgname">
        <span>ANJUMAN I-KALSEKAR TECHNICAL CAMPUS</span>
      </div>
      <div id="meeting">Meeting Management Software</div>
      <br />
      <div>
        <button id="tsheet" type="button">Timesheet</button>
        <a id="booking_meeting" href="{%url 'book:meeting' %}">Book Meeting</a>
      </div>
    </header>
    <div id="content">
      <table class="styled-table">
        <thead>
          <tr>
            <th>DATE</th>
            <th>HOST-NAME</th>
            <th>CLASS-NAME</th>
            <th>SUBJECT</th>
            <th>NO. OF STUDENTS</th>
            <th>START-TIMING</th>
            <th>END-TIMING</th>
          </tr>
        </thead>
        {% block content %}

        <tbody>
          {% for i in interface %}
          <tr>
            <td>{{i.Datee}}</td>
            <td>{{i.host_name}}</td>
            <td>{{i.class_name }}</td>
            <td>{{i.subject}}</td>
            <td>{{i.students}}</td>
            <td>{{i.starttiming}}</td>
            <td>{{i.endtiming}}</td>
          </tr>

          {% endfor %}
        </tbody>

        {% endblock %}
      </table>
    </div>

    <footer></footer>
  </body>
</html>
