{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'login.css'%}" />
    <title>Login</title>
  </head>
  <body>
    <form action="login" method="POST">
      {% csrf_token %}
      <div class="login-box">
        <h1>Welcome Back</h1>
        <div class="textbox">
          <i class="fas fa-user"></i>
          <label for="username"></label>
          <input
            type="text"
            id="username"
            name="Username"
            placeholder="Enter your username"
            required
          />
        </div>
        <div class="textbox">
          <i class="fas fa-lock"></i>
          <label for="password"></label>
          <input
            type="password"
            id="password"
            name="Password"
            placeholder="Enter your password"
            required
          />
        </div>
        <button class="btn" type="submit">Log in</button>
      </div>
    </form>
  </body>
</html>
