{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'regis.css' %}" />
  </head>
  <body>
    <div class="register-box">
      <h1>Register</h1>

      <form action="register" method="POST">
        {% csrf_token %}
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="First-Name" name="one" />
        </div>
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Last-Name" name="last" />
        </div>
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" name="Username" />
        </div>
        <div class="textbox">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" name="Email" />
        </div>
        <div class="textbox">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" name="Password" />
        </div>
        <div class="textbox">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            placeholder="Confirm Password"
            name="Confirmpassword"
          />
        </div>
        <input type="submit" value="SIGN UP" class="btn" />
        <p class="signup">
          Already have an account? <a href="{%url 'myapp:login' %}">Sign in</a>
        </p>
      </form>
    </div>
    {% if messages %} {% for message in messages %}
    <span {%if message.tags%} class="{{message.tags}}" {%endif%}>
      {{ message }}
    </span>
    {% endfor %} {% endif %}
  </body>
</html>
