{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'regis.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Create your account</h1>
      <form action="register" method="POST">
        {% csrf_token %}
        <div class="form-control">
          <label for="firstname">First Name:</label>
          <input
            type="text"
            id="firstname"
            name="one"
            placeholder="Enter your First Name"
            required
          />
        </div>
        <div class="form-control">
          <label for="lastname">Last Name:</label>
          <input
            type="text"
            id="lastname"
            name="last"
            placeholder="Enter your last name"
            required
          />
        </div>
        <div class="form-control">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="Username"
            placeholder="Enter your username"
            required
          />
        </div>
        <div class="form-control">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="Email"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="form-control">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="Password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="form-control">
          <label for="confirm_password">Confirm Password:</label>
          <input
            type="password"
            id="confirm_password"
            name="Confirmpassword"
            placeholder="Enter your confirm password"
            required
          />
        </div>
        <button class="but" type="submit">Register</button>
      </form>
    </div>
    <div>
      {%for message in messages%}
      <h5>{{message}}</h5>
      {%endfor%}
    </div>
  </body>
</html>
